
.section_us{
    height:90vh;    
}

.outline, .outline_meet{
    font-family:'Montserrat', sans-serif;
    font-size: 19vw;
    line-height: 1;
    position: absolute;
    color: white;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width:1px ;
    opacity: 0.15;
    z-index: -3;
    -webkit-transform: scaleY(1.05);
    transform: scaleY(1.05);

}

.main_heading{
    padding-top: 9%;
    padding-left: 5.5vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 6vw;
    
    color: #eaeaea;
    /* background-color:#99ffff;
    background-image: linear-gradient(90deg, #99ffff,#ffccff);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent; */
    z-index: 2;
}

.section_us p,.meet_us p{

    margin-top: 30px;
    padding-left: 6vw;
    padding-right: 6vw;
    font-family: 'Rotunda_Light_Italic';
    font-size: 24px;
}

@media screen and (max-width:768px){
    .outline{
        font-size: 13.7vw;
    }
    .main_heading{
        padding-top: 5%;
        font-size: 9.5vw;
    }
    .section_us p{
        font-size: 17px;
    }
   
}
@media screen and (max-width:480px){
    .outline{
        font-size: 14.3vw;
        margin-top: 1em ;
        -webkit-transform: scaleY(1.1);
        transform: scaleY(1.1);
    
    
    }
    .main_heading{
        padding-top:2em;
        font-size: 9.5vw;
    }
    .section_us p{
        font-size: 17px;
        margin-right: 20px;
        font-size: 16px;
        margin-top: 20px;
    }
  
}

/* meet us section*/
.meet_us{
    position: relative;
    height: 100vh;
    background: #D8D4D4;
    color: #1f1f1f;
    width: 100%;
    overflow: hidden!important;
}
.outline_meet{
    width: 120%;
    color: #000000;
    z-index: 1;
    font-size: 12.7vw;
    padding-top:7%;
 
    
}
.main_heading_meet{
    color: #1f1f1f!important;
    padding-top: 11%;
    padding-left: 5.5vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 6vw;
}
.meet_us p{

 margin-right: 50%;
}
.btn{
    font-family: 'Rotunda_Light_Italic';
    margin-top:30px;
    margin-left: 6vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:5px 20px 5px 10px;
    background-color:#99ffff;
    background-image: linear-gradient(to right, #99ffff,#ffccff);
    background-size: 100%;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #1f1f1f;
}
.btn:hover{
    background-image: linear-gradient(to right, #ffccff,#99ffff);
}
.btn img{
    padding-left: 20px;
}
@media screen and (max-width:768px){
    .outline_meet{
      
        font-size: 13.7vw;
    }
    .main_heading_meet{
        padding-top: 12%;
        font-size: 9.5vw;
    }
    .meet_us p{
        font-size: 17px;
    }
    .btn{
        font-size: 17px;
    }
}
@media screen and (max-width:480px){
    .outline_meet{
         padding-top: 0;
        font-size: 14.3vw;
        margin-top: 1em ;
        -webkit-transform: scaleY(1.1);
        transform: scaleY(1.1);
    
    
    }
    .main_heading_meet{
        padding-top:2em;
        font-size: 9.5vw;
    }
    .meet_us p{
        font-size: 17px;
        margin-right: 20px;
        font-size: 16px;
        margin-top: 20px;
    }
    .btn{
        font-size: 17px;
        margin-top: 20px;
        font-size: 15px;
    }
}

 .counter{
           display: flex;
           flex-direction: column;
       }
       .line{
           justify-content: center;
           display: flex;
           flex-direction: row;
       }
       .numbers{
           grid-template-columns: repeat(4, 1fr);
           margin-top: 0%;
           padding: 0% 4% 0% 4%;
           text-align: center;
       }
       .numbers2{
           margin-top: 0%;
           padding: 0% 2% 0% 2%;
           text-align: center;
       }
       .num{
           font-family: 'Roboto', sans-serif;
           font-weight: bold;
           font-size: 56px;
           line-height: 66px;
           color: black;
       }
       .para{
           font-family: 'Roboto', sans-serif;
           font-weight: normal;
           color: gray;
           font-size: 20px;
           line-height: 36px;
           
       }
       .line{
           font-size: 56px;
           line-height: 66px;
           display: flex;
           flex-direction: row;
           font-weight: bold;
       }

       @media screen and (max-width:510px){
        .numbers{
           margin-top: 0%;
           padding: 0% 3% 0% 3%;
           text-align: center;
       }
       .numbers2{
           margin-top: 0%;
           padding: 0% 1.5% 0% 1.5%;
           text-align: center;
       }
        .num{
            grid-template-columns: repeat(4, 1fr);
           font-size: 20px;
           line-height: 36px;
           margin: 0;
       }
       .para{
           padding: 2%;
           font-size: 12px;
           line-height: 22px;
        
       }
       .numbers {
        grid-template-columns: repeat(2, 1fr);
    }

 
}
/* Section tedx */
.section_tedx{
    min-height: 100vh;
}
.section_tedx h1{
    padding-top: 70px;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    text-align: center;
    color: #eaeaea;
}
.section_tedx p{
    text-align: center;
    margin: 30px 15% 0px 15%;
    font-family: 'Rotunda_Light_Italic';
    font-size: 18px;
}


@media screen and (max-width:480px){
    .section_tedx h1{
        font-size: 30px;
    }
    .section_tedx p{
        margin-top: 20px;
        font-size: 16px;
        margin: 20px 7% 0px 7%;
    }
    }

